.popup-background {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgb(0 0 0 / 50%);
  backdrop-filter: blur(1px);
  z-index: 9999999999998;
  overflow-y: auto;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 75px auto;
  /* max-height: 550px; */
  max-width: 60%;
  /* overflow: scroll; */
  z-index: 9999999999999;
  box-shadow: 0px 0px 5px 1px rgb(0 0 0 / 50%);
  background: #D8D1FF;
  border-radius: 30px;
}

.popup h4{
  margin: 0.33em 0;
}

.popup-content {
  /* text-align: center; */
  padding: 20px 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14pt;
}

.popup progress {
  height: 32px;
  width: 100%;
  display: block;
}

#popup-progress-count {
  font-size: 8pt;
  color: #444444;
}

.button-strip {
  display: flex;
  justify-content: space-evenly;
  margin-top: 16px;
}